doctype html
html(lang='en')
head
    include includes/head_data.html
    title= pieceData.Title

include includes/signout_header.html

body(class="text-dark bg-white")
    div.container
        h1.text-center= pieceData.Title
        |
        |
        div.row
            embed(src= "/pdfs?id="+pieceData.PieceID, type="application/pdf", width= "500", height= "600")
            div(class="row col-6")
                ul(id="list" class="col-12")
                    li= "Composer: " + (pieceData.ComposerName || "Unknown")
                div(id="review-div" class="col-12")
                    h3 Reviews
                    each val in reviews
                        div.review-box
                            div= val.Stars + "/5 stars by " + val.UserID
                            div= val.Text
                    else
                        div No reviews yet. Be the first!

include includes/footer.html